html {
  font-family: monospace;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: monospace;
}

input {
  font-family: monospace;
}
